@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format('woff2'),
       url("../fonts/cuprum.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format('woff2'),
       url("../fonts/cuprumbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format('woff2'),
       url("../fonts/cuprumbolditalic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format('woff2'),
       url("../fonts/cuprumitalic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format('woff2'),
       url("../fonts/ptsans.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format('woff2'),
       url("../fonts/ptsansbold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sens-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.header-top {
  width: 100%;
  height: 42px;
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
}

.header-top a {
  color: #ffffff;
}

.main-header-logo {
  padding: 14px 56px 12px 55px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.header-button {
  display: block;
  max-width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-button:hover,
.header-button:focus {
  background-color: #212a3a;
}

.bookmark-button {
  position: relative;
  padding-left: 46px;
  padding-right: 26px;
}

.bookmark-button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;  
}

.cart-button {
  position: relative;
  padding-left: 50px;
  padding-right: 31px;
}

.cart-button::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 19px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmark-button:hover::before,
.bookmark-button:focus::before,
.cart-button:hover::before,
.cart-button:focus::before {
  opacity: 1;
}

.make-order-button {
  color: #ffffff;
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 22px;
}

.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}

.header-middle {
  display: flex;
  flex-wrap: wrap;
}

.site-title {
  width: 197px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.44;
  color: #ee3643;
  margin-top: 49px;
  margin-right: 69px;
  margin-bottom: 40px;
  margin-left: 53px;
}

.header-contacts {
  margin-top: 57px;
}

.phone-link {
  position: relative;
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 8px;
  padding-left: 72px;
  border: 3px solid #ffffff;
}

.phone-link::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
 background-position: 0 0;
}

.adress {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
  text-align: center;
  margin-top: 16px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 57px;
  margin-left: 68px;
}

.user-navigation a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

.login-link-auth {
  position: relative;
  padding-top: 10px;
  padding-right: 27px;
  padding-bottom: 11px;
  padding-left: 48px;
  margin-right: 10px;
}

.login-link-auth::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.login-link-auth:hover::before,
.login-link-auth:focus::before {
  opacity: 1;
}


.login-link-register {
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 11px;
  padding-left: 23px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.main-navigation {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 25px;
  margin: 0;
}

.main-navigation-link {
  color: #ffffff;
  display: block;
  padding: 20px 30px 23px 30px;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  background-color: #293449;
}

.overall-catalog {
  margin-top: 60px;
  margin-bottom: 53px;
}

.overall-catalog-title {
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #ffffff;
}

.overall-catalog-button {
  width: 135px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1)
}

.overall-catalog-button:hover,
.overall-catalog-button:focus {
  background-color: rgba(0, 0, 0, 0.2)
}

.materials {
  width: 300px;
  background-color: #ffbf47;
}

.instrument {
  width: 300px;
  background-color: #3bbce3;
}

.technic {
  width: 300px;
  background-color: #dc91d8;
}

.discounts {
  width: 300px;
  background-color: #8ed78f;
}

.delivery {
  width: 300px;
  background-color: #ffc047;
}

.catalog-top {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.brands-top {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.headline {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 21px;
  padding: 0;
  font-size: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.button-buy {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 2px;
}

.button-buy:hover,
.button-buy:focus {
  background-color: #5fbb2d;
}

.button-wishlist {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.button-wishlist:hover,
.button-wishlist:focus {
  border: 3px solid #32425c;
}


.catalog-item-title {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;

}

.catalog-item-price-old {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 1.06;
  color: #a9a9a9;
  margin-top: 15px;
  margin-bottom: 10px;
}

.catalog-item-price-current {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 1.06;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.catalog-item-price-current:after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;  
  width: 60px;
  height: 60px;  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.action {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: #ffffff;
  z-index: 10;
  display: none;
}

.catalog-item:hover .action {
  display: block;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 85px;
  padding: 0;
}

.brands-item {
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  margin-bottom: 20px;
}


.main-button {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  color:#ffffff;
  background-color: #ee3643;
}

.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
}

.popular-button,
.brands-button {
  width: 253px;
}

.service {
  background-color: #f4f7f9;
  margin-bottom: 80px;
}

.transport-item {
  font-size: 18px;
  line-height: 1.11;
}

.main-info {
  display: flex;
  justify-content: space-between;
}

.company {
  width: 519px;
}

.contacts {
  width: 300px;
}

.service-text,
.company-text,
.contacts-text  {
  font-family: "PT Sans", "Arial", sens-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 1.85;
}

.contacts-text {
  width: 179px;
}

.main-footer {
  width: 100%;
  background-color: #32425c;
  margin-top: 86px;
}

.footer-top {
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-footer-logo {
  padding: 20px 41px 25px 41px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  margin-right: 173px;
}


.footer-top-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-top: 42px;
  padding: 0;
  
}

.footer-top-navigation-link {
  color: #f1f5f7;
  padding-left: 60px;
}

.footer-top-navigation-link:hover,
.footer-top-navigation-link:focus {
  text-decoration: underline;
}

.footer-middle {
  font-size: 18px;
  line-height: 1.33;
  color: #f1f5f7; 
  background-color: #32425c;
}

.footer-middle-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-middle-navigation-link {
  color: #ffd180;
}

.footer-middle-navigation-link:hover,
.footer-middle-navigation-link:focus {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
  background-color: #293449;
  padding: 35px 0 30px 0;
}

.footer-bottom .container {
  display: flex;
}

.footer-copyright {
  width: 228px;
  margin-right: 161px;
}

.social-list {
  width: 132px;
  list-style: none;
  margin-right: 119px;
  
}

.social-button {
  color: #ffffff;
}

.footer-info-feedback {
  width: 135px;
  margin-right: 53px;
}

.footer-info-developed {
  width: 96px;
  margin-right: 15px;
}

.footer-info-link {
  color: #ffd180;
}

.footer-info-link:hover,
.footer-info-link:focus {
  text-decoration: underline;
}

.user-cabinet {
  padding: 0;
  margin: 0;
  margin-top: 57px;
  margin-left: 51px;
}

.user-cabinet-link {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
  position: relative;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 11px;
  padding-left: 46px;
}

.user-cabinet-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-cabinet-link:hover::before,
.user-cabinet-link:focus::before {
  opacity: 1;
}

.logout-link {
  background-color: #ffffff;
  position: relative;
  width: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  padding-left: 20px;
}

.logout-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 9px;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.logout-link:hover::before,
.logout-link:focus::before {
  opacity: 1;
}

.cabinet-info {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding-left: 17px;
}

.cabinet-info-item-left {
  position: relative;
  margin-right: 32px;
}

.cabinet-info-item-left::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -20px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.cabinet-link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.cabinet-link:hover,
.cabinet-link:focus {
  color: #ee3643;
}

.inner-page {
  font-family: "PT Sans", "Arial", sens-serif;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.inner-page .catalog {
  width: 700px;
}

.inner-page .catalog-list {
  margin: 0;
  margin-bottom: 52px;
  display: flex;
  flex-wrap: wrap;
}

.inner-page .catalog-item {
  margin-bottom: 20px;
}

.inner-page .catalog-button {
  font-family: "Cuprum";
}

.inner-page .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -22px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #c1c6ce;
  border-right: 1px solid #c1c6ce;
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:last-child::after {
display: none;
}

.breadcrumbs-link {
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  color: #000000;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.page-title {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #32425c;
  background-color: #f2f6f8;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
}

.filters {
  width: 220px;
}

.filter-group {
  border: none;
}

.filters-title,
.sort-title {
  font-size: 13px;
  line-height: 1.38;
  font-weight: normal;
  text-transform: uppercase;
}

.filters-title {
  background-color: #f7f3ec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  margin: 0;
  margin-bottom: 12px;
}

.sort-title {
  background-color: #f7f3ec;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  margin: 0;
  margin-bottom: 20px;
}

.filter-parameter {
  font-size: 17px;
  line-height: 1.76;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-list,
.power-supply-list {
  list-style: none;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
}

.filter-brand:disabled + .filter-checkbox,
.filter-click:disabled + .filter-radio {
  color: rgba(0, 0, 0, 0.4)
}

.filter-button {
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-link {
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  color: #000000;
  background-color: #ffffff;
}

.pagination-link:hover,
.pagination-link:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #ffffff;
  background-color: #ee3643;
}

.perforator {
  width: 938px;
  background-color: #f4f7f9;
}

.perforator .headline {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #000000;
}

.perforator-text {
  font-size: 13px;
  line-height: 1.85;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.modal {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-desc {
  font-family: "Cuprum";
  font-size: 18px;
  line-height: 1;
}

.feedback-text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 1.38;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}

.feedback-button {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #ee3643;
}

.message-text {
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 1;
}

.message-button-order {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background-color: #ee3643;
}

.message-button-continue {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  border: none;
  color: #000000;
  background-color: #ffffff;
}
