body {
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", Arial, sens-serif;
  font-size: 13px;
  line-height: 1,85;
  color: #000000;
  
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header-top {
  font-size: 17px;
  line-height: 1,06;
  color: #ffffff;
  
  background-color: #293449;
}

.header-button:hover,
.header-button:focus {
  background-color: #212a3a;
}

.make-order-button {
  color: #ffffff;
  background-color: #63a63e;
}

.make-order-button:hover,
.make-order-button:focus {
  background-color: #5fbb2d;
}

.header-middle {
  background-color: #f4f7f9;
}

.site-title {
  width:196px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 1,44;
  color: #ee3643;
}

.phone-number {
  font-size: 21px;
  line-height: 1;
  color: #ee3643;
}

.adress {
  font-size: 14px;
  line-height: 1,71;
  color: #32425c;
}

.user-navigation a {
  font-size: 21px;
  line-height: 1;
  color: #000000;
  
  background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.main-navigation {
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  
  background-color: #32425c;
}

.user-navigation,
.main-navigation-list,
.user-list,
.catalog-list,
.brands-list,
.footer-top-navigation,
.breadcrumbs {
  list-style: none;
}

.main-navigation-list a,
.header-top a {
  color: #ffffff;
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  background-color: #293449;
}

.overall-catalog-title {
  font-size: 24px;
  line-height: 1,25;
  font-weight: bold;
  color: #ffffff;
}

.overall-catalog-button {
  width: 135px;
  font-size: 14px;
  line-height: 1,29;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(0,0,0,.1)
}

.overall-catalog-button:hover,
.overall-catalog-button:focus {
  background-color: rgba(0,0,0,.2)
}

.materials {
  width: 300px;
  background-color: #ffbf47;
}

.instrument {
  width: 300px;
  background-color: #3bbce3;
}

.technic {
  width: 300px;
  background-color: #dc91d8;
}

.discounts {
  width: 300px;
  background-color: #8ed78f;
}

.delivery {
  width: 300px;
  background-color: #ffc047;
}

.catalog-top,
.brands-top {
  background-color: #f9f5f0
}

.headline {
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.catalog-item {
  width: 220px;
  
  text-align: center;
  font-weight: bold;
  border: 1px solid #eaeaea;
}

.catalog-item-title {
  width:155px;
  font-family: "PT Sans", Arial, sens-serif;
  font-size: 18px;
  line-height: 1,11;
  color: #000000;
}

.catalog-item-price-old {
  font-family: "PT Sans", Arial, sens-serif;
  font-size: 17px;
  line-height: 1,06;
  
  color: #a9a9a9;
}

.catalog-item-price-current {
  color: #ffffff;
  background-color: #ee3643;
}

.brands-item {
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
  text-align: center;
}

.main-button {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  color:#ffffff;
  
  background-color: #ee3643;
}

.main-button:hover,
.main-button:focus {
  background-color: #ca2c37;
}

.popular-button,
.brands-button {
  width: 253px;
  height: 8px;
}

.footer-top {
 font-size: 18px;
 line-height: 1,33;
 color: #f1f5f7;
  
 background-color: #32425c; 
}

.footer-top-navigation a {
  color: #f1f5f7;
}

.footer-top-navigation a:hover,
.footer-top-navigation a:focus {
  text-decoration: underline;
}

.container {
  width: 940px;
  margin: 0 auto;
}
